body, html {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: white;
}

#header {
  height: 100px;  
  background-color: #B71C1C;
  text-align: center;
  padding-top: 20px;
}

#header img {
  height: 80px;
}

#maincontainer {
  height: 100%;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#contentcontainer {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#welcome {
  float: right;
  text-align: left;
  padding-right: 20px;
  color: white;
}

#dogs {
  width: 33%;
  height: 100%;
  background-color: #CCCCCC;
  float: left;
  overflow-y: auto;
}

.contentheader {
  text-align: center;
  padding-top: 10px;
  font: 18pt black;
  border-bottom: 1px dashed black;
  padding-bottom: 10px;
  background-color: #DDDDDD;
}

#fosterers {
  width: 33%;
  background-color: #CACACA;
  overflow-y: auto;
}

#newdog {
  background-color: #BEBEBE;
  width: 33%;
  overflow-y: auto;
}
