<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ohacks.opportunityhacks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Foothills Animal Rescue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <item android:name="android:statusBarColor">
                @color/colorPrimaryDark
            </item>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BroadcastActivity"
            android:label="Foothills"/>
        <activity android:name=".SignupActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <item android:name="android:statusBarColor">
                @color/colorPrimaryDark
            </item>
        </activity>
    </application>

</manifest>