<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geoffrey.foothillsanimalrescueapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/foothills_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <item android:name="android:statusBarColor">
                @color/colorPrimaryDark
            </item>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FosterInfo"
            android:label="Foothills">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ParentActivity" />
        </activity>
        <activity
            android:name=".Preferences"
            android:label="Foothills">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ParentActivity" />
        </activity>
        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <item android:name="android:statusBarColor">
                @color/colorPrimaryDark
            </item>
        </activity>
        <activity android:name=".DogList"></activity>
    </application>

</manifest>