<!DOCTYPE html>
<html>
  <head>
    <title>FAR Admin Panel</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>

  <body>
    <div id="header"><img src="/images/logo-web.png"></img></div>
    <div id="container">
      hello
      <div id="dogs">hi</div>
    </div>
  </body>
</html>
