<!DOCTYPE html>
<html>
  <head>
    <title>FAR Admin Panel</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>

  <body>
    <div id="maincontainer">
      <div id="header">
        <img src="/images/logo-web.png"></img>
        <div id="welcome">
          Welcome, <%= user.local.email  %>
          <br><a href="/logout">Logout</a>
        </div>
      </div>

      <div id="contentcontainer">
        <div id="dogs">
          <% include dogs %>
        </div>

        <div id="fosterers">
          <% include fosterers %>
        </div>

        <div id="newdog">
          <% include newdog %>
        </div>
      </div>
    </div>
  </body>
</html>
