<div class="dogbox">
  <table>
    <tr>
      <td>
        Name
      </td>
      <td>
        <%= dog.FosteredDog.dogName %>
      </td>
    </tr>
    <tr>
      <td>
        Breed
      </td>
      <td>
        <%= dog.FosteredDog.breed %>
      </td>
    </tr>
    <tr>
      <td>
        Weight
      </td>
      <td>
        <%= dog.FosteredDog.weight %> lb
      </td>
    </tr>
    <tr>
      <td>
        Deadline
      </td>
      <td>
        <%= deadline %>
      </td>
    </tr>
  </table>
</div>
