<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<style>
	body{

		background-image: linear-gradient(#B71C1C, #B71C1C);
	}

	#box{
		border: 1px solid rgb(200, 200, 200);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
		background: rgba(200, 200, 200, 0.1);
		border-radius: 4px;
		top:50px;
	}

	h2{
		text-align:center;
		color:#fff;
	}
	#header {
	  	height: 100px;
	  	background-color: #B71C1C;
	  	text-align: center;
	  	padding-top: 20px;
	}
	#header img {
	  	height: 70px;
	}
</style>

<div id="header"><img src="/images/logo-web.png"></img></div>

<div class="container-fluid">
	<div class="row-fluid" >


	<div class="col-md-offset-4 col-md-4" id="box">
		<h2>Login</h2>

		<hr>
			<form class="form-horizontal" action=" " method="" id="contact_form">
			<fieldset>
				<!-- Form Name -->


				<!-- Text input-->

				<div class="form-group">

					<div class="col-md-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="first_name" placeholder="Username" class="form-control" type="text">
					      	</div>
					</div>
				</div>



				<!-- Text input-->
				<div class="form-group">

			   		<div class="col-md-12">
			       			<div class="input-group">
				   			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input name="email" placeholder="Password" class="form-control" type="password">
					       </div>
			 		</div>
				</div>




			       	<div class="form-group">

			   		<div class="col-md-12">
			       			<button type="submit" class="btn btn-md btn-danger pull-right">Login </button>
			   		</div>
				</div>

			</fieldset>
       		</form>
	</div>
</div>
</html>
