<div class="contentheader">Add an animal</div>
<div id="newdogform">
  <form action="/addNeededDog">
    <table>
      <tr>
        <td>Name*</td>
        <td><input type="text" name="name"></input></td>
      </tr>
      <tr>
        <td>Species*</td>
        <td><input type="text" name="name"></input></td>
      </tr>
      <tr>
        <td>Breed*</td>
        <td><input type="text" name="name"></input></td>
    </table>
  </form>
</div>
<script src="/js/newdog.js"></script>
