<div class="contentheader">Add an animal</div>
<div id="newdogform">
  <form action="/addNeededDog" method="post">
    <table>
      <tr>
        <td>Name*</td>
        <td><input type="text" name="dogName"></input></td>
      </tr>
      <tr>
        <td>Species*</td>
        <td><input type="text" name="species"></input></td>
      </tr>
      <tr>
        <td>Breed*</td>
        <td><input type="text" name="breed"></input></td>
      </tr>
      <tr>
        <td>Weight (lbs)*</td>
        <td><input type="text" name="weight"></input></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><input type="text" name="location"></input></td>
      </tr>
    </table>

    <input type="submit" value="Add animal"></input>
  </form>
</div>
<script src="/js/newdog.js"></script>
